// module 'Mod Map'
.mod-map {
  letter-spacing: 1.5px;

  .bigtitle-map {
    padding-top: 28px;
  }

  img {
    max-width: 100%;
  }

  .process-map {
    margin-top: 35px;

    .line-icon {
      padding-top: 20px;
    }
  }

  .text-map {
    margin-top: 23px;
    padding-bottom: 80px;

  }
}
